{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>ElegantDecor - Creative Responsive Architecture Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="{% static 'index/css/reset.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'index/css/plugins.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'index/css/style.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'index/css/dark-style.css' %}">		
        <link type="text/css" rel="stylesheet" href="{% static 'index/css/shop.css' %}">	
        <link type="text/css" rel="stylesheet" href="{% static 'index/css/yourstyle.css' %}">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="{% static 'index/images/favicon.ico' %}">
        
        <!-- Add SweetAlert2 CSS and JS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
    </head>

    <body>
        <!-- loader -->
        <div class="loader">
            <div id="movingBallG">
                <div class="movingBallLineG"></div>
                <div id="movingBallG_1" class="movingBallG"></div>
            </div>
        </div>
        <!-- loader end -->
        <!--================= Main   ================-->
        <div id="main">
            <!--================= header ================-->
            <header class="main-header">
                <!-- logo -->
                <a class="logo-holder"href="{% url 'index' %}" ><img src="{% static 'index/images/ElegantDecor.gif' %}" style="margin-left: 39%;" height="43px" alt=""></a>
                <!-- logo end -->  
                {% if user.is_authenticated %}
                            
                <div class="show-share-wrap">
                    <div class="show-share" style="color: #f39c12; font-weight: bold; font-size: 1.2em;"><span>{{ user.username }}</span></div>
                </div>
                {% else %}
                {% endif %}
                <!-- share button end-->  		
                <!-- search button--> 	 
                <!-- search button end --> 
                <!-- mobile nav --> 
                <div class="nav-button-wrap">
                    <div class="nav-button vis-main-menu"><span></span><span></span><span></span></div>
                </div>
                <!-- mobile nav end--> 
                <!--  navigation --> 
                <div class="nav-holder">
                    <nav>
                        <ul>   
                           
                                <li>
                                    <a href="{% url 'index' %}" >Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'portfolio' %}">Designs</a>
                                </li>
                                <li>
                                    <a href="{% url 'recommend_products_by_color' %}">Color-Based Suggestions</a>
                                </li>
                                 
                            <li>
                                <a href="about.html">About</a>
                                <ul>
                                    <li><a href="about-personal.html">Personal</a></li>
                                    <li><a href="services.html">Services</a></li>
                                </ul>
                            </li>
                                <li>
                                    <a href="contact.html">Contacts</a>
                                </li>
                                <li>
                                    <a href="{% url 'shop' %}">Shop</a>
                                    <!--second level end-->
                                    <ul>
                                        <li><a href="{% url 'cart' %}">Cart</a></li>
                                    </ul>
                                    <!--second level end-->
                                </li>
                                
                                <li><a href="{% url 'mood_board_list' %}">Mood Boards</a>
                                    <ul>
                                        <li><a href="{% url 'create_mood_board' %}">Create Mood Boards</a></li>
                                    </ul>
                                </li>
                       
                           
                        </ul>
                    </nav>
                    
                </div>
                <!-- navigation  end -->
            </header>
            <!-- header  end -->
            <!--=============== wrapper ===============-->
            <div id="wrapper">
                <!-- content-holder  -->
                <div class="content-holder">
                    <!--  content --> 
                    <div class="content">
                        <!--  section  --> 
                        <section>
                            <div class="container">
                                <!-- orders-wrap  -->
                                <div class="cart-wrap fl-wrap">
                                    <!-- orders header  -->
                                    <div class="cart-header fl-wrap">
                                        <h3>Your Orders</h3>
                                    </div>
                                    <!-- orders header end  -->    
                                    <!-- orders -->
                                    <div class="cart fl-wrap">
                                        {% for order in orders %}
                                        <!-- order item -->
                                        <div class="cart-item fl-wrap">
                                            <div class="cart-image">
                                                <a href="{% url 'product' product_id=order.product.id %}">
                                                    <img src="{{ order.product.image.url }}" alt="{{ order.product.name }}">
                                                </a>
                                            </div>
                                            <div class="cart-container">
                                                <table class="table table-border checkout-table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h5 class="product-name">{{ order.product.name }}</h5>
                                                                <span class="product-cart-cat">{{ order.product.category }}</span>
                                                            </td>
                                                            <td>
                                                                <h5><b>Quantity:</b> {{ order.quantity }}</h5>
                                                            </td>
                                                            <td>
                                                                <h5 class="order-money">Rs. {{ order.amount.amount|floatformat:2 }}</h5>
                                                            </td>
                                                            <td>
                                                                <label><b>Status:</b></label>
                                                                <span>{{ order.order_status }}</span>
                                                            </td>
                                                            <td>
                                                                <label><b>Delivery Date:</b></label>
                                                                <span>{{ order.delivery_date|date:"F d, Y" }}</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                
                                                <!-- order-item-footer -->
                                                <div class="cart-item-footer fl-wrap">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <p><b>Order Date:</b> {{ order.order_date }}</p>
                                                            <p><b>Status:</b> {{ order.payment_status }}</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p><b>Payment Type: </b>{{ order.payment_type.payment_type }}</p>
                                                            {% if order.order_status == 'Completed' %}
                                                            <a href="{% url 'download_receipt' order.id %}" class="btn btn-success btn-sm">
                                                                <i class="fa fa-download"></i> Download Receipt
                                                            </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- order-item-footer end  -->
                                            </div>
                                        </div>
                                        <!-- order item end-->
                                        {% empty %}
                                        <p>You haven't placed any orders yet.</p>
                                        {% endfor %}
                                    </div>
                                    <!-- orders end  -->
                                </div>
                                <!-- orders-wrap end  -->
                            </div>
                        </section>
                        <!-- section end  -->
                    </div>
                    <!-- content end -->	
                    <!--=============== content-footer   ===============-->
                    <div class="height-emulator"></div>
                    <footer class="content-footer">
                        <div class="footer-inner">
                            <div class="row">
                                <div class="col-md-3">
                                    <a class="footer-logo" href="index.html"><img src="images/logo.png" alt=""></a>
                                </div>
                                <div class="col-md-4">
                                    <div class="footer-header fl-wrap"><span>01.</span> Contacts</div>
                                    <div class="footer-box fl-wrap">
                                        <ul>
                                            <li><span>Mail :</span><a href="#" target="_blank">yourmail@domain.com</a></li>
                                            <li> <span>Adress :</span><a href="#" target="_blank">USA 27TH Brooklyn NY</a></li>
                                            <li><span>Phone :</span><a href="#">+7(111)123456789</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="footer-header fl-wrap"><span>02.</span> Subscribe</div>
                                    <div class="footer-box fl-wrap">
                                        <div class="subcribe-form fl-wrap">
                                            <span>Newsletter</span>
                                            <form id="subscribe">
                                                <input class="enteremail" name="email" id="subscribe-email" placeholder="email" spellcheck="false" type="text">
                                                <button type="submit" id="subscribe-button" class="subscribe-button">Submit</button>
                                                <label for="subscribe-email" class="subscribe-message"></label>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <div class="fl-wrap policy-box">
                                        <p> &#169; Balkon   2017.  All rights reserved.  </p>
                                    </div>
                                </div>
                            </div>
                            <div class="to-top"><i class="fa fa-long-arrow-up"></i></div>
                        </div>
                    </footer>
                    <!-- content-footer end    -->
                 
                <!-- content-holder end -->
            </div>
            <!-- wrapper end -->
            <!--search-form-holder -->  
            <div class="search-form-holder fixed-search">
                <div class="search-form-bg"></div>
                <div class="search-form-wrap">
                    <div class="container">
                        <form class="searchform" method="get"  >
                            <input type="text" autocomplete="off"   name="s" placeholder="Type and Enter to Search">
                        </form>
                        <div class="close-fixed-search"></div>
                    </div>
                    <div class="dublicated-text"></div>
                </div>
            </div>
            <!--search-form-holder  end-->  
            <!-- Share container  -->
            <div class="share-wrapper isShare">
                <div class="share-container" style="padding: 20px;">
                    <ul style="list-style-type: none; padding: 0; margin: 0;">
                        <li style="margin-bottom: 15px; border-bottom: 1px solid #fff;">
                            <a href="{% url 'profile' %}" style="color: #fff; text-decoration: none; font-size: 16px; transition: all 0.3s ease; display: block; padding: 10px; border-radius: 5px;" onmouseover="this.style.backgroundColor='#fff'; this.style.color='#000';" onmouseout="this.style.backgroundColor='black'; this.style.color='#fff';">My Profile</a>
                        </li>
                        <li style="margin-bottom: 15px; border-bottom: 1px solid #fff;">
                            <a href="{% url 'my_projects' %}" style="color: #fff; text-decoration: none; font-size: 16px; transition: all 0.3s ease; display: block; padding: 10px; border-radius: 5px;" onmouseover="this.style.backgroundColor='#fff'; this.style.color='#000';" onmouseout="this.style.backgroundColor='black'; this.style.color='#fff';">Projects</a>
                        </li>
                        <li style="margin-bottom: 15px; border-bottom: 1px solid #fff;">
                            <a href="{% url 'my_consultations' %}" style="color: #fff; text-decoration: none; font-size: 16px; transition: all 0.3s ease; display: block; padding: 10px; border-radius: 5px;" onmouseover="this.style.backgroundColor='#fff'; this.style.color='#000';" onmouseout="this.style.backgroundColor='black'; this.style.color='#fff';">Consultations</a>
                        </li>
                        <li style="margin-bottom: 15px; border-bottom: 1px solid #fff;">
                            <a href="{% url 'my_orders' %}" style="color: #000; background-color: #fff; text-decoration: none; font-size: 16px; transition: all 0.3s ease; display: block; padding: 10px; border-radius: 5px;">Orders</a>
                        </li>
                        
                    <li style="margin-bottom: 15px; border-bottom: 1px solid #fff;">
                        <a href="{% url 'logout_view' %}" style="color: #fff; text-decoration: none; font-size: 16px; transition: all 0.3s ease; display: block; padding: 10px; border-radius: 5px;" onmouseover="this.style.backgroundColor='#fff'; this.style.color='#000';" onmouseout="this.style.backgroundColor='black'; this.style.color='#fff';">Logout</a>
                    </li>
                    </ul>
                </div>
            </div>
            <!-- Share container  end-->
            <!-- footer -->
            <footer class="main-footer">
                <div class="fixed-title"><span>My Orders</span></div>
                <div class="footer-social">
                    <ul>
                        <li><a href="#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-tumblr"></i></a></li>
                    </ul>
                </div>
            </footer>
            <!-- footer end-->
        </div>
        <!-- Main end -->
        <script type="text/javascript" src="{% static 'index/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'index/js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'index/js/scripts.js' %}"></script>
       
    </body>
</html>